---
- name: Build Docker image
  shell: "docker build -t {{ ecr_repository_name }}:latest  {{ home_directory }}"

- name: Tag Docker image
  shell: "docker tag {{ ecr_repository_name }}:latest {{ ecr_repository_registry }}/{{ ecr_repository_name }}:latest"

- name: Check file exists
  stat:
    path: "{{ home_directory }}/token"
  register: store_file

- name: Get token
  shell: "cat {{ home_directory }}/token"
  register: token
  when: store_file.stat is defined and store_file.stat.exists

- name: Login to docker
  shell: "docker login -u {{ dockerhub_username }} -p {{ token.stdout }}"
  register: login_docker
  failed_when: false
  changed_when: login_docker.rc != 0
  no_log: true

- name: Push Docker image
  shell: "docker push {{ ecr_repository_registry }}/{{ ecr_repository_name }}:latest"