version: "3.8"
services:
  app:
    image: {{ ecr_repository_registry }}/{{ ecr_repository_name }}:latest
    ports:
      - "${APP_PORT-3000}:${APP_PORT-3000}"
    command: bash -c "ls -al && /bin/bash run.sh"
    env_file:
      - .env.example
    volumes:
      - /app/.venv
      - .:/app
    build:
      context: .
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}